.boton-contenedor{
    display: flex;
    justify-content: center;
}
.boton{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-secundario;
    color: $color-principal;
    border: $bordes-comunes;
    font-size: 20px;
    margin: 10px;
    width: 200px;
    height: 70px;
    padding: 5px;
    transition: 1s;
    &:hover{
        width: 300px;
    }
}

