.pie-contenedor{
    display: flex;
    justify-content: center;
    background-color: $color-secundario;
    border: $bordes-comunes;
}
.pie{
    color: $color-principal;
    text-align: center;
    font-size: 30px;
}
.lista-footer{
    list-style: none;
}
.foto-pie{
    width: 300px;
}