@media (min-width: 320px) and (max-width: 450px){
    .title{
        h1{
            font-size: 15px;
        }
    }
   
    .foto{
        width: 200px;
    }
    .photo-grid{
        width: 200px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .photo-grid-item{
        width: 200px;
        height: 200px;
    }
    .boton{
        width: 100px;
        height: 50px;
        font-size: 12px;
        &:hover{
            width: 150px;
        }
    }
    .video{
        width: 250px;
        height: 200px;
        object-fit: cover;
    }
    .pie{
        font-size: 15px;
    }
    .pie-contenedor{
        border: $bordes-media;
    }
    .fotos-tarjeta{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        img{
            width: 100px;
        }                 
    }
    .descripcion-contenedor{
        position: fixed;
        left: -300px;
        
    }
    .descripcion{
        position: absolute;
        width: 150px;
        background-color: $color-secundario;
        height: 350px;
        overflow: hidden;
        p{
            color: $color-principal;
        }
    }
    .icono-descripcion{
        color: $color-icono;
        font-size: 25px;
        margin: 15px;
        &:hover + .desccontenedor{
            left: 20px;
            transition: 1s;
        }
    }
    .precio{
        font-size: 20px;
        margin: 50px;
    }
    .pagos{
        font-size: 20px;
        margin: 10px;
        border: $bordes-media;
    }
    .especificaiones{
        font-size: 15px;
        border: $bordes-media;
    }
    .formularios{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .opiniones-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}
@media (min-width: 451px) and (max-width: 720px){
    .title{
        h1{
            font-size: 20px;
        }
    }
    .foto{
        width: 250px;
    }
    .photo-grid{
        width: 250px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .photo-grid-item{
        width: 250px;
        height: 250px;
    }
    .boton{
        width: 150px;
        height: 50px;
        font-size: 16px;
        &:hover{
            width: 200px;
        }
    }
    .video{
        width: 350px;
        height: 250px;
        object-fit: cover;
    }
    .pie{
        font-size: 20px;
    }
    .pie-contenedor{
        border: $bordes-media;
        padding: 10px;
    }
    .fotos-tarjeta{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        img{
            width: 150px;
        }                 
    }
    .descripcion-contenedor{
        position: fixed;
        left: -300px;
        
    }
    .descripcion{
        position: absolute;
        width: 200px;
        background-color: $color-secundario;
        height: 300px;
        overflow: hidden;
        p{
            color: $color-principal;
        }
    }
    .icono-descripcion{
        color: $color-icono;
        font-size: 35px;
        margin: 20px;
        &:hover + .descripcion-contenedor{
            left: 20px;
            transition: 1s;
        }
    }
    .precio{
        font-size: 30px;
        margin: 70px;
    }
    .pagos{
        font-size: 25px;
        margin: 25px;
        border: $bordes-media;
    }
    .especificaiones{
        font-size: 20px;
        border: $bordes-media;
    }
    .formularios{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .opiniones-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}
@media (min-width: 721px) and (max-width: 1080px){
    .title{
        h1{
            font-size: 25px;
        }
    }
    .foto{
        width: 300px;
    }
    .photo-grid{
        width: 300px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .photo-grid-item{
        width: 300px;
        height: 300px;
    }
    .boton{
        width: 200px;
        height: 70px;
        font-size: 20px;
        &:hover{
            width: 250px;
        }
    }
    .video{
        width: 450px;
        height: 300px;
        object-fit: cover;
    }
    .pie{
        font-size: 25px;
    }
    .pie-contenedor{
        border: $bordes-media;
        padding: 15px;
    }
    .fotos-tarjeta{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 50px;
        img{
            width: 250px;
        }                 
    }
    .descripcion-contenedor{
        position: fixed;
        left: -400px;
    }
    .descripcion{
        position: absolute;
        width: 400px;
        background-color: $color-secundario;
        height: 400px;
        overflow: hidden;
        p{
            color: $color-principal;
        }
    }
    .icono-descripcion{
        color: $color-icono;
        font-size: 70px;
        margin: 50px;
        &:hover + .descripcion-contenedor{
            left: 20px;
            transition: 1s;
        }
    }
    .precio{
        font-size: 30px;
        margin: 10px;
        margin-top: 100px;
    }
    .pagos{
        font-size: 25px;
        margin: 20px;
        border: $bordes-media;
        margin-top: 100px;
    }
    .especificaiones{
        font-size: 30px;
        border: $bordes-media;
    }
    .especificaciones-contenedor{
        margin-top: 300px;
    }
    .formularios{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .opiniones-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}
@media (min-width: 1081px) and (max-width: 1440px){
    .photo-grid{
        margin: 60px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .photo-grid-item{
        width: 350px;
        height: 350px;
        padding: 10px; 
        background: $bordes-especiales; 
    }
    .foto{
        width: 350px;
    }
    .fotos-tarjeta{
        width: 700px;
        height: 500px;
        margin: 50px;
        padding: 20px;
        gap: 20px;
    }
    .descripcion-contenedor{
        margin: auto;
    }
    .descripcion{
        width: 450px;
        background-color: $color-secundario;
        height: 450px;
        overflow: hidden;
        p{
            color: $color-principal;
        }
    }
    .precio{
        font-size: 30px;
        margin: 10px;
        margin-top: 100px;
    }
    .pagos{
        font-size: 25px;
        margin: 20px;
        border: $bordes-media;
        margin-top: 100px;
    }
    .especificaiones{
        font-size: 30px;
        border: $bordes-media;
    }
    .especificaiones-contenedor{
        margin-top: 50px;
    }
    .formularios{
        margin-left: 200px;
    }
    
}
@media (min-width: 1441px){
    .title{
        h1{
            font-size: 50px;
        }
    }
    .lista{
        font-size: 25px;
    }
    .photo-grid{
        margin: 100px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .photo-grid-item{
        width: 450px;
        height: 450px;
        padding: 10px; 
        background: $bordes-especiales; 
    }
    .foto{
        width: 450px;
    }
    .video{
        width: 700px;
        height: 500px;
        object-fit: cover;
    }
    .pie{
        font-size: 40px;
    }
    .pie-contenedor{
        border: $bordes-comunes;
        padding: 20px;
    }
    .fotos-tarjeta{
        width: 800px;
        height: 600px;
        margin: 50px;
        padding: 20px;
        gap: 20px;
    }
    .descripcion-contenedor{
        margin: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .descripcion{
        width: 450px;
        background-color: $color-secundario;
        height: 450px;
        overflow: hidden;
        p{
            color: $color-principal;
            font-size: 20px;
        }
    }
    .precio{
        font-size: 30px;
        margin: 10px;
        margin-top: 100px;
    }
    .pagos{
        font-size: 30px;
        margin: 20px;
        border: $bordes-comunes;
        margin-top: 100px;
    }
    .esp{
        font-size: 30px;
        border: $bordes-comunes;
    }
    .especificaiones-contenedor{
        margin-top: 50px;
    }
}        