.menu{
    display: flex;
    border: $bordes-comunes;
    width: 800px;
    height: 60px;
    justify-content: space-between;
    background-color: $color-secundario;
    align-items: center;
    padding: 5px;
}
.menu-container{
    display: flex;
    color: $color-secundario;
    padding: 20px 0;
    justify-content: center;
    li{
        display: flex;
        text-decoration: none;
        gap: 10px;
    }
    .logo{
        display: flex;
        width: 50px;
        align-items: center;
    }
} 
.link:hover{
    text-decoration: none;
    color: white;
}
