$color-principal:#8A2BE2;
$color-secundario:#000000;
$color-icono: #ffffff;
$bordes-comunes:5px solid #8A2BE2;
$bordes-media: 3px solid #8A2BE2;
$bordes-especiales:linear-gradient(to right, black, blueviolet);