@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Shadows Into Light";
}

.menu {
  display: flex;
  border: 5px solid #8A2BE2;
  width: 800px;
  height: 60px;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
  padding: 5px;
}

.menu-container {
  display: flex;
  color: #000000;
  padding: 20px 0;
  justify-content: center;
}
.menu-container li {
  display: flex;
  text-decoration: none;
  gap: 10px;
}
.menu-container .logo {
  display: flex;
  width: 50px;
  align-items: center;
}

.yt:hover {
  text-decoration: none;
  color: white;
}

.ct:hover {
  text-decoration: none;
  color: white;
}

.in:hover {
  text-decoration: none;
  color: white;
}

body {
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.title h1 {
  text-align: center;
  color: #8A2BE2;
  background-color: #000000;
  border: 5px solid #8A2BE2;
  width: 500px;
}

.lista-contenedor {
  display: flex;
  justify-content: center;
}

.lista {
  text-align: center;
  color: #8A2BE2;
  list-style: none;
  background-color: #000000;
  border: 5px solid #8A2BE2;
  padding: 10px;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 200px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.photo-grid-container {
  display: inline;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
  padding: 10px;
  background: linear-gradient(to right, black, blueviolet);
}

.foto {
  width: 300px;
}

.video-contenedor {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.video {
  display: flex;
  border: 5px solid #8A2BE2;
}

.pie-contenedor {
  display: flex;
  justify-content: center;
  background-color: #000000;
  border: 5px solid #8A2BE2;
}

.pie {
  color: #8A2BE2;
  text-align: center;
  font-size: 30px;
}

.boton-contenedor {
  display: flex;
  justify-content: center;
}

.boton {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #000000;
  color: #8A2BE2;
  border: 5px solid #8A2BE2;
  margin: 10px;
  width: 150px;
  height: 50px;
  padding: 5px;
  transition: 1s;
}
.boton:hover {
  width: 200px;
}

.pagos {
  display: flex;
  flex-direction: column;
  margin: 50px;
  font-size: 20px;
  background-color: #000000;
  color: #8A2BE2;
  list-style: none;
  border-color: #8A2BE2;
  border: 5px solid #8A2BE2;
  padding: 10px;
}

.precio {
  display: flex;
  color: #000000;
  padding: 5px;
  margin: 20px;
  font-size: 30px;
  background-color: #000000;
  background: linear-gradient(to right, black, blueviolet);
}

.especificaciones-contenedor {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.especificaciones {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  list-style: none;
  color: #8A2BE2;
  font-size: 20px;
  border-color: #8A2BE2;
  border: 5px solid #8A2BE2;
  padding: 10px;
}

.descripcion-contenedor {
  display: flex;
  background-color: #000000;
  color: #8A2BE2;
}

.descripcion {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 300px;
  border: 10px solid;
}

.icono-descripcion {
  color: transparent;
}

.redes-contenedor {
  display: flex;
  justify-content: center;
}

.redes {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #000000;
  color: #8A2BE2;
  border: 5px solid #8A2BE2;
  padding: 10px;
}

.formularios {
  width: auto;
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin-left: 300px;
}

.genero-contenedor {
  display: flex;
}

.genero {
  justify-content: space-between;
  background-color: #000000;
  color: #8A2BE2;
  border: 5px solid #8A2BE2;
  margin: 15px;
  padding: 15px;
}

.mail-contenedor {
  display: flex;
}

.mail {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  color: #8A2BE2;
  border: 5px solid #8A2BE2;
  margin: 15px;
  padding: 10px;
}

.nombre-contenedor {
  display: flex;
}

.nombre {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  color: #8A2BE2;
  border: 5px solid #8A2BE2;
  margin: 15px;
  padding: 10px;
}

.reseña-contenedor {
  display: flex;
}

.reseña {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  color: #8A2BE2;
  border: 5px solid #8A2BE2;
  margin: 15px;
  padding: 10px;
  gap: 10px;
}

.opiniones-contenedor {
  display: flex;
  background-color: #000000;
  border: 5px solid #8A2BE2;
  color: #8A2BE2;
  padding: 10px;
  width: 50%;
  height: 350px;
  margin: auto;
  display: inline-block;
  overflow-y: auto;
}

.opiniones {
  text-align: center;
}

.opinion p {
  font-size: 15px;
}
.opinion img {
  background-color: white;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.tarjeta-contenedor {
  display: flex;
  justify-content: center;
}

.fotos-tarjeta {
  display: grid;
  width: 700px;
  height: 500px;
  margin: 50px;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img1 img1 img1 img2" "img1 img1 img1 img3";
}
.fotos-tarjeta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #8A2BE2;
  transition: 1s;
}

.img1 {
  grid-area: img1;
}
.img1:hover {
  transform: scale(1.2);
}

.img2 {
  grid-area: img2;
}
.img2:hover {
  transform: scale(1.2);
}

.img3 {
  grid-area: img3;
}
.img3:hover {
  transform: scale(1.2);
}

@media (min-width: 320px) and (max-width: 450px) {
  .title {
    font-size: 10px;
  }
  .foto {
    width: 200px;
  }
  .photo-grid {
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .photo-grid-item {
    width: 200px;
    height: 200px;
  }
  .video {
    width: 250px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pie {
    font-size: 15px;
  }
  .pie-contenedor {
    border: 3px solid #8A2BE2;
  }
  .fotos-tarjeta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .fotos-tarjeta img {
    width: 100px;
  }
  .descripcion-contenedor {
    position: fixed;
    left: -300px;
  }
  .descripcion {
    position: absolute;
    width: 150px;
    background-color: #000000;
    height: 350px;
    overflow: hidden;
  }
  .descripcion p {
    color: #8A2BE2;
  }
  .icono-descripcion {
    color: #ffffff;
    font-size: 25px;
    margin: 15px;
  }
  .icono-descripcion:hover + .desccontenedor {
    left: 20px;
    transition: 1s;
  }
  .precio {
    font-size: 20px;
    margin: 50px;
  }
  .pagos {
    font-size: 20px;
    margin: 10px;
    border: 3px solid #8A2BE2;
  }
  .especificaiones {
    font-size: 15px;
    border: 3px solid #8A2BE2;
  }
  .formularios {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .opiniones-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
@media (min-width: 451px) and (max-width: 720px) {
  .title {
    font-size: 15px;
  }
  .foto {
    width: 250px;
  }
  .photo-grid {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .photo-grid-item {
    width: 250px;
    height: 250px;
  }
  .video {
    width: 350px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pie {
    font-size: 20px;
  }
  .pie-contenedor {
    border: 3px solid #8A2BE2;
    padding: 10px;
  }
  .fotos-tarjeta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
  .fotos-tarjeta img {
    width: 150px;
  }
  .descripcion-contenedor {
    position: fixed;
    left: -300px;
  }
  .descripcion {
    position: absolute;
    width: 200px;
    background-color: #000000;
    height: 300px;
    overflow: hidden;
  }
  .descripcion p {
    color: #8A2BE2;
  }
  .icono-descripcion {
    color: #ffffff;
    font-size: 35px;
    margin: 20px;
  }
  .icono-descripcion:hover + .descripcion-contenedor {
    left: 20px;
    transition: 1s;
  }
  .precio {
    font-size: 30px;
    margin: 70px;
  }
  .pagos {
    font-size: 25px;
    margin: 25px;
    border: 3px solid #8A2BE2;
  }
  .especificaiones {
    font-size: 20px;
    border: 3px solid #8A2BE2;
  }
  .formularios {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .opiniones-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
@media (min-width: 721px) and (max-width: 1080px) {
  .title {
    font-size: 20px;
  }
  .foto {
    width: 300px;
  }
  .photo-grid {
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .photo-grid-item {
    width: 300px;
    height: 300px;
  }
  .video {
    width: 450px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pie {
    font-size: 25px;
  }
  .pie-contenedor {
    border: 3px solid #8A2BE2;
    padding: 15px;
  }
  .fotos-tarjeta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  .fotos-tarjeta img {
    width: 250px;
  }
  .descripcion-contenedor {
    position: fixed;
    left: -400px;
  }
  .descripcion {
    position: absolute;
    width: 400px;
    background-color: #000000;
    height: 400px;
    overflow: hidden;
  }
  .descripcion p {
    color: #8A2BE2;
  }
  .icono-descripcion {
    color: #ffffff;
    font-size: 70px;
    margin: 50px;
  }
  .icono-descripcion:hover + .descripcion-contenedor {
    left: 20px;
    transition: 1s;
  }
  .precio {
    font-size: 30px;
    margin: 10px;
    margin-top: 100px;
  }
  .pagos {
    font-size: 25px;
    margin: 20px;
    border: 3px solid #8A2BE2;
    margin-top: 100px;
  }
  .especificaiones {
    font-size: 30px;
    border: 3px solid #8A2BE2;
  }
  .especificaciones-contenedor {
    margin-top: 300px;
  }
  .formularios {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .opiniones-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
@media (min-width: 1081px) and (max-width: 1440px) {
  .photo-grid {
    margin: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .photo-grid-item {
    width: 350px;
    height: 350px;
    padding: 10px;
    background: linear-gradient(to right, black, blueviolet);
  }
  .foto {
    width: 350px;
  }
  .fotos-tarjeta {
    width: 700px;
    height: 500px;
    margin: 50px;
    padding: 20px;
    gap: 20px;
  }
  .descripcion-contenedor {
    margin: auto;
  }
  .descripcion {
    width: 450px;
    background-color: #000000;
    height: 450px;
    overflow: hidden;
  }
  .descripcion p {
    color: #8A2BE2;
  }
  .precio {
    font-size: 30px;
    margin: 10px;
    margin-top: 100px;
  }
  .pagos {
    font-size: 25px;
    margin: 20px;
    border: 3px solid #8A2BE2;
    margin-top: 100px;
  }
  .especificaiones {
    font-size: 30px;
    border: 3px solid #8A2BE2;
  }
  .especificaiones-contenedor {
    margin-top: 50px;
  }
  .formularios {
    margin-left: 200px;
  }
}
@media (min-width: 1441px) {
  .title {
    font-size: 20px;
  }
  .lista {
    font-size: 20px;
  }
  .photo-grid {
    margin: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .photo-grid-item {
    width: 450px;
    height: 450px;
    padding: 10px;
    background: linear-gradient(to right, black, blueviolet);
  }
  .foto {
    width: 450px;
  }
  .video {
    width: 700px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pie {
    font-size: 40px;
  }
  .pie-contenedor {
    border: 5px solid #8A2BE2;
    padding: 20px;
  }
  .fotos-tarjeta {
    width: 800px;
    height: 600px;
    margin: 50px;
    padding: 20px;
    gap: 20px;
  }
  .descripcion-contenedor {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .descripcion {
    width: 450px;
    background-color: #000000;
    height: 450px;
    overflow: hidden;
  }
  .descripcion p {
    color: #8A2BE2;
    font-size: 20px;
  }
  .precio {
    font-size: 30px;
    margin: 10px;
    margin-top: 100px;
  }
  .pagos {
    font-size: 30px;
    margin: 20px;
    border: 5px solid #8A2BE2;
    margin-top: 100px;
  }
  .esp {
    font-size: 30px;
    border: 5px solid #8A2BE2;
  }
  .especificaiones-contenedor {
    margin-top: 50px;
  }
}/*# sourceMappingURL=style.css.map */